@charset "utf-8";
/*!
 * 後台專用
 */
/*!*************************************************/
/*全文字體　S********************************************
/*內文字體修改*/
body {font-family: 'Open Sans', Helvetica, 'Heiti TC', 微軟正黑體, 'Microsoft Sans Serif', Arial, sans-serif;}
body {color: #333;background-color: #fff;}
/*標題字字體修改*/
h1, h2, h3, h4, h5, h6{font-family: "MHei", "Lucida Grande", "Lucida Sans Unicode", "STHeitiTC-Light", "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", "微软雅黑","新細明體", Arial, sans-serif;font-weight: normal;}
/*所有字體的大小以比例來設定　S*********************************************/
html { font-size:100% } /* 16px*75%=12px */
/*接著，所有字級都依此標準來設計制定：*/
body { font-size:1rem } /* 1*12px=12px */
p{font-size:1.25rem} /* 1.25*12px=15px */
 /*li, span{font-size:1.25rem} 1.25*12px=15px */
h1, .h1{font-size:2.8rem} /* 2*12px=24px */
h2, .h2{font-size:2.3rem}
h3, .h3{font-size:2rem}
h4, .h4{font-size:1.5rem}
fieldset {font-size:1.5rem}
.fontssize05rem{font-size:0.5rem}
.fontssize1rem{font-size:1rem}
.fontssize2rem{font-size:2rem}
.fontssize3rem{font-size:3rem}
.fontssize12px{font-size:12px}
.fontssize14px{font-size:14px}
/*所有字體的大小以比例來設定　E*********************************************/
/*通用類設定　S***********************************************************/
/*錨點*/
.apcss-anchor {display: block;position: relative;top: -100px;visibility: hidden}
/*英文字要斷行*/
.word-wrap{word-wrap: break-word;word-break: break-all;}
/*圓角*/
.border_5px{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.border_10 img{border-radius:1rem;}
/*模糊blur20 IE10-IE12無解*/
.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
/*文字陰影*/
.text_shadow{text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);}
.text_shadow3d{text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,0 3px 0 #bbb, 0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);}	
.form{text-align:left; width:450px; margin:20px auto 0 auto;}
.form b{display:block; clear:both; margin-top:15px; margin-bottom:-12px;}
/*間距*/
.w100{width:100%}
.h100{height:100%}
.height10{ height:1.3rem}
/*排序字*/
.gray{color:#969696;}
/* =======================公共樣式=============================== */
.xwg-fl { float: left;}
.xwg-fr { float: right;}
.xwg-mod-wrap .fa { font-size: 14px; color: #fff;}
/*進一步清除浮動法*/
.clearfix:after {content:"\200B"; display:block; height:0;clear:both;}
/*===========================================*/
/*用 CSS 讓過長溢出的字省略變 ... */
/*===========================================*/
.target {
  border : 0;
  display : block;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  position : absolute\9; /* IE8 IE9 */
  *position : static; /* IE8 IE9 */
  *word-break : keep-all; /* IE6 IE7 */
}
/*通用類設定　END********************************************/
.tt1{padding:0px;margin-bottom: -20px}
.tt2{padding:0px;margin-top: -10px}
/*底色標題*/
.title-block {margin: 10px 0;text-align: center;padding: 5px 0;color: white;background-image: url(../img/banner_1920x300.jpg);}
.title-block h4 {margin-top: 0;color: #DDD;}
.texth1{font-size:4.5rem;padding:1rem;;}

/*至中頁籤這是預設名nav-pills*/
.tab_memu .nav-tabs > li,.tab_memu .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {text-align:center;}
/*頁籤顏色線*/
.tab_memu .nav-tabs{border-bottom: 3px solid #00A79A;}
.tab_memu .nav-tabs>li>a{color: #000; }
.tab_memu>.nav>li>a{margin: 0 1px -3px 1px}
.tab_memu>.nav>li>a{padding: 10px 20px;font-size:25px;}
.tab_memu>.nav-tabs>li.active>a{
	color: #FFF;
	border-left: 3px solid #00A79A;
	border-right: 3px solid #00A79A;
	border-bottom: 0px solid #FFFFFF;
	border-top: 3px solid #00A79A;
	background-repeat: no-repeat;
	background-image: url(../img/tab.png);
	background-position: center bottom;
}
.tab_memu>.nav-tabs>li>a:hover{
	top:-4px;
}
.tab_memu>.nav-tabs>li.active>a:hover{
	top:0px;
}
/*********************************************************************/
/*表格無間距*/

.info2 th{
	text-align: center;
	background-color: #07A48E;
	color: #FFFFFF;
}
.info2 .sno{ width:50px; padding-left:0px; padding-right:0px}
.generallist>.table-responsive>table>tbody>tr>td {font-size: 14px;border: 1px solid #CCC;padding: 0px;}
/*全表格TH底色*/
.warp table th{text-align: center;background-color: #000000;color: #FFFFFF;}
.warp table tr td{padding: 4px;}

/*
.warp {
margin: auto;
width: 1000px;
}*/
.w50px{width:70px}
.cc {text-align: center;}
.c0 {}
.c0c {text-align: center;}
.c1 {width: 120px;}
/*c2中文類型*/
.c2 {width: 100px;text-align: center;}
.c3 {width: 150px;}
.c4 {width: 120px;}
.c5 {width: 80px;text-align: center;}
.c6 {min-width: 370px;}
.cr {color: #ff0033;}

/*滾動監聽 開始*****************************/
.l_scroll{
	position: relative;
	position: fixed;
	
	background-color: #DAF6EB;
	top: 0;
	left: -200px;
	bottom: 0;
	width: 200px;
	z-index: 90;
}
.l_scroll ul li{text-align:left;}
.l_scroll .l_scroll-fluid{padding-left: 2px;padding-right: 3px;margin-right: auto;margin-left: auto;}
.l_scroll .nav>li>a {padding: 5px 10px;}
/*關閉按鈕*/
.upper_right{top: 0px;right: 0px;position: absolute;width: 20px;height: 18px;z-index: 91;cursor: pointer;}
.upper_right .glyphicon{color: #93928B;}
.upper_right .glyphicon:hover{color: #827E3A;}
/*由於頁簽在2預設就要不出現
.l_scroll{left: -200;}*/
@media screen and (max-width: 1450px) {
.l_scroll{display: none}
}
/*滾動監聽 END*****************************/
/*修改按鈕*/
textarea.w100.h100{outline:none}
textarea.w100.h100{resize:none}
.csssssss td{height: 26px}
.btn5 {background-color:#00A79A; color: #FFF;  margin: 2px 3px}
.btn5 {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn5.active.focus,.btn5.active:focus,.btn5.focus,.btn5:active.focus,.btn5:active:focus,.btn5:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn5.focus,.btn5:focus,.btn5:hover {
    color: #FFF;
    text-decoration: none
}

.btn5.active,.btn5:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn5.disabled,.btn5[disabled],fieldset[disabled] .btn5 {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn5.disabled,fieldset[disabled] a.btn5 {
    pointer-events: none
}

/*編輯按鈕*/
#replace_editingid.btn.btn-default{ padding: 7px 20px;}
#replace_editingid.btn.btn-default>i{font-size: 2rem;}
.aa a{text-decoration:none;color: #FFFFFF;}
.aa a:link,.aa a:visited {color: #FFFFFF;}
.aa a:hover {color: #337ab7;}
/*訊息框樣式 JQUERY-UI*/
  .ui-tooltip {
    padding: 10px 20px;
    border-radius: 20px;
    font: bold 14px;
    text-transform: uppercase;
    box-shadow: 0 0 5px black;
  }   
/*頁尾*/
.footer{position:relative;background-color: #4A494A;margin:0;padding:0;}
.footer .container p{padding: 18px 0 5px 0;color: #FFFFFF;}